<div class="bg-sky-900/70 p-4">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        <div class="w-[60px]"></div>
        <div class="flex text-center" tabindex="0" role="contentinfo">Przykładowa aplikacja multi frontend z zastosowaniem Native Federation</div>
          <app-router-link 
                [routerPath]="'/website-map'" 
                [cssClass]="'hover:underline p-3 focus:outline-none focus-visible:ring-3 focus-visible:ring-white cursor-pointer'"
                [cssClassActive]="'font-bold'" 
                [routerLinkTitle]="'Mapa strony'" />
        <app-scroll-up />
    </div>
</div>